PORT=port_number
MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster.mongodb.net
MONGODB_DB=your_database_name

SMTP_HOST=mail_host_name
SMTP_PORT=host_number
SMTP_USER=your_host_username
SMTP_PASSWORD=your_host_password
SMTP_FROM=mail_address